mj-section(padding="0" padding-bottom="20px" mj-class="bgW")
    mj-column
        mj-image(padding="0" width="700px" src="./images/img2.jpg" alt="tableau numérique NetGear")/
mj-section(padding="15px" mj-class="bgT1")
    mj-column
        mj-text(padding="0" align="center" mj-class="T30-500 cTW" letter-spacing="2px") ... et bien plus encore sur le Store NETGEAR.
        mj-spacer(height="50px")
        mj-button(padding-bottom="10px" mj-class="bgW cT0" href="#") Découvrir
mj-section(padding="14px 14px 30px 14px" mj-class="bgW")
    mj-column
        mj-text(align="center" padding="0" mj-class="T15-300 cT0") * Code promo « ORBI10 » valable jusqu'au 9 Aout inclus sur la sélection suivante : RBK752-100EUS, RBK753-100EUS, RBK754-100EUS et RBK755-100EUS. Code promo « MOB10 » valable jusqu'au 23 Aout inclus sur la catégorie « Routeurs & Hotspots 4G/ 5G », et hors sélection suivante : MR5200-100EUS et 6000460. Offre cumulable avec les promos en cours. Offre valable dans la limite des stocks disponibles.