mj-section
    mj-column
        mj-image(src="./images/img1.jpg")
        mj-text() A ne pas rater&nbsp;!
        mj-text() C'est l'occasion ou jamais de profiter des promos exceptionnelles grâce à nos réductions et aux codes promos* cumulables. Profitez-en et découvrez notre sélection faite rien que pour vous&nbsp;!
        mj-button() Découvrir