mj-section
    mj-column(width="50%")
        mj-image(src="./images/orbi1.jpg")
        mj-text() Système Mesh Orbi Wifi 6
        mj-text() AX1800 (RBK353)
        mj-text() jusqu'à 300m #[sup 2]
        mj-text() 349.99€ 299.99€
        mj-button() j'en profite
    mj-column(width="50%")
        mj-image(src="./images/orbi2.jpg")
        mj-text() Système Mesh Orbi Wifi 6
        mj-text() AX4200 (RBX753)
        mj-text() jusqu'à 525m #[sup 2]
        mj-text() 699.99€ 599.99€
        mj-button() j'en profite
    mj-column(width="50%")
        mj-image(src="./images/mob1.jpg")
        mj-text() Routeur Mobile 4G
        mj-text() 1 Gbit/s (MR1100)
        mj-text() 309.99€ 279.99€
        mj-button() j'en profite
    mj-column(width="50%")
        mj-image(src="./images/mob2.jpg")
        mj-text() Routeur Mobile 4G
        mj-text() 2 Gbit/s (MR2100)
        mj-text() 429.99€ 379.99€
        mj-button() j'en profite
    mj-column(width="50%")
        mj-image(src="./images/whiteProd.jpg")
        mj-text() Répéteur WiFi Mesh
        mj-text() Dual band (EX7300)
        mj-text() jusqu'à 2.2 Gbit/s 
        mj-text() 94.99€ 74.99€
        mj-button() j'en profite
    mj-column(width="50%")
        mj-image(src="./images/blackProd.jpg")
        mj-text() Répéteur WiFi Mesh
        mj-text() Tri band (EX7700)
        mj-text() jusqu'à 2.2 Gbit/s 
        mj-text() 114.99€ 89.99€
        mj-button() j'en profite