mj-section
    mj-column(width="50%" padding="10px")
        mj-image(padding="0" width="680px" fluid-on-mobile="true" src="./images/orbi1.jpg" alt="Système Mesh Orbi WiFi 6")/
        mj-text(align="center") Système Mesh Orbi Wifi 6
        mj-text(align="center") AX1800 (RBK353)
        mj-text(align="center") jusqu'à 300m #[sup 2]
        mj-text(align="center") 349.99€ 299.99€
        mj-button() j'en profite
    mj-column(width="50%" padding="10px")
        mj-image(padding="0" width="680px" fluid-on-mobile="true" src="./images/orbi2.jpg" alt="Système Mesh Orbi WiFi 6")/
        mj-text(align="center") Système Mesh Orbi Wifi 6
        mj-text(align="center") AX4200 (RBX753)
        mj-text(align="center") jusqu'à 525m #[sup 2]
        mj-text(align="center") 699.99€ 599.99€
        mj-button() j'en profite
    mj-column(width="50%" padding="10px")
        mj-image(padding="0" width="680px" fluid-on-mobile="true" src="./images/mob1.jpg" alt="Routeur Mobile 4G")/
        mj-text(align="center") Routeur Mobile 4G
        mj-text(align="center") 1 Gbit/s (MR1100)
        mj-text(align="center") 309.99€ 279.99€
        mj-button() j'en profite
    mj-column(width="50%" padding="10px")
        mj-image(padding="0" width="680px" fluid-on-mobile="true" src="./images/mob2.jpg" alt="Routeur Mobile 4G")
        mj-text(align="center") Routeur Mobile 4G
        mj-text(align="center") 2 Gbit/s (MR2100)
        mj-text(align="center") 429.99€ 379.99€
        mj-button() j'en profite
    mj-column(width="50%" padding="10px")
        mj-image(padding="0" width="680px" fluid-on-mobile="true" src="./images/whiteProd.jpg" alt="Répéteur WiFi Mesh")/
        mj-text(align="center") Répéteur WiFi Mesh
        mj-text(align="center") Dual band (EX7300)
        mj-text(align="center") jusqu'à 2.2 Gbit/s 
        mj-text(align="center") 94.99€ 74.99€
        mj-button() j'en profite
    mj-column(width="50%" padding="10px")
        mj-image(padding="0" width="680px" fluid-on-mobile="true" src="./images/blackProd.jpg" alt="Répéteur WiFi Mesh")/
        mj-text(align="center") Répéteur WiFi Mesh
        mj-text(align="center") Tri band (EX7700)
        mj-text(align="center") jusqu'à 2.2 Gbit/s 
        mj-text(align="center") 114.99€ 89.99€
        mj-button() j'en profite